<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Name}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link href="/assets/bundle.css" rel="stylesheet" />
  </head>
  <body class="text-center flex flex-col gap-y-20 py-10 ">
    <div class="text-3xl">Hello, {{.Name}}! Hope you're doing well!</div>
    <div>This is your personal page after all!</div>
  </body>
</html>
